body{
  background-image: url("../images/blue-tile.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  box-sizing: border-box;
}
.col-centered{
  padding: 10px;
  margin:auto;
  margin-top: 20px;
  float: none;
  background-color: white;
  border-radius: 1%
}
#did-a-thing{
  height: 100px;
}
#things-to-do{
  height: 75px;
}

td{
  vertical-align: middle;
  height: 50px;
}
tr{

  height: 50px;
}
.button-wrapper{
  margin: 0 auto;
  text-align: center;
}
#who{
  display: none;
}
#what{
  display: none;
}
#thank-you{
  display: none;
}

/*#goldstar{
  position: relative;
  display: inline-block;
  background: url('../images/goldstar3.png');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}*/
/* Flaired edges, by Tomas Theunissen */

hr.style-seven {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}